.button {
  display: inline-block;
  padding: 20px 30px;
  color: white;
  font-size: 16px;
  background-color: #2979ff;
  border-radius: 8px;
  width: 300px;
  border: none;
  outline: none;
}

.buttonSecondary {
  display: inline-block;
  padding: 20px 30px;
  font-size: 16px;
  border-radius: 8px;
  width: 300px;
  border: 1px solid #2979ff;
  outline: none;
  background-color: white;
  color: #2979ff;
}
