.button {
  display: inline-block;
  padding: 20px 30px;
  color: white;
  font-size: 16px;
  background-color: #2979ff;
  border-radius: 8px;
  width: 300px;
  border: 1px solid transparent;
  outline: none;
  &--secondary {
    @extend .button;
    background-color: white;
    color: #2979ff;
    border-color: #2979ff;
  }
}
